body
{
	background-color: #040404;
	font-size: 17px;
	line-height: 1.2em;
}

#title
{
	margin-top: 15px;
	width: 100%;
	border-radius: 5px;
}

#center
{
	width: 100%;
	margin-top: 1.25%;
	padding: 1%;
	border-radius: 10px;
	background-color: #181818;
	color: #ddd;
	text-align: justify;
}

#center [href]
{
	text-decoration: none;
	color: #888;
}

#center [href]:visited
{
	color: #888;
}

h1,h2,h3,h4,h5,h6,li
{
	text-align: left;
}

table,tr
{
	width: 100%;
	border: 1px solid #999;
}

